body { background: #d08a1a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 57px; display: flex; }
.block-email-0 { color: #15ec5c; font-size: 14px; margin-bottom: 5px; }
.block-search-1 { color: #688d8b; font-size: 21px; margin-bottom: 5px; }
.block-router-2 { color: #b823f2; font-size: 12px; margin-bottom: 5px; }
.block-config-3 { color: #1fff4d; font-size: 17px; margin-bottom: 5px; }
.block-config-4 { color: #f67514; font-size: 12px; margin-bottom: 5px; }
.block-search-5 { color: #3e5da3; font-size: 20px; margin-bottom: 5px; }